@font-face {
	font-family: "Flaticon";
	src: url("../line-icon-set/flaticon.eot");
	src: url("../line-icon-set/flaticon.eot#iefix") format("embedded-opentype"),
	url("../line-icon-set/flaticon.woff") format("woff"),
	url("../line-icon-set/flaticon.ttf") format("truetype"),
	url("../line-icon-set/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="helpme-flaticon-"]:before,
[class^="helpme-post-type-icon-"]:before,
[class*=" helpme-flaticon-"]:before,
[class*=" helpme-post-type-icon-"]:before{
	font-family: 'Flaticon';
	display: inline-block;
    speak: none; 
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}
.helpme-flaticon-amplified:before {
	content: "\e000";
}
.helpme-flaticon-arrow434:before {
	content: "\e001";
}
.helpme-flaticon-arrow435:before {
	content: "\e002";
}
.helpme-flaticon-arrow436:before {
	content: "\e003";
}
.helpme-flaticon-arrow437:before {
	content: "\e004";
}
.helpme-flaticon-arrowhead4:before {
	content: "\e005";
}
.helpme-flaticon-audio28:before {
	content: "\e006";
}
.helpme-flaticon-battery74:before {
	content: "\e007";
}
.helpme-flaticon-big80:before {
	content: "\e008";
}
.helpme-flaticon-big81:before {
	content: "\e009";
}
.helpme-flaticon-blank20:before {
	content: "\e00a";
}
.helpme-flaticon-camera43:before {
	content: "\e00b";
}
.helpme-flaticon-cassette7:before {
	content: "\e00c";
}
.helpme-flaticon-cinema13:before {
	content: "\e00d";
}
.helpme-flaticon-circular45:before {
	content: "\e00e";
}
.helpme-flaticon-circular46:before {
	content: "\e00f";
}
.helpme-flaticon-circular47:before {
	content: "\e010";
}
.helpme-flaticon-circular48:before {
	content: "\e011";
}
.helpme-flaticon-circular49:before {
	content: "\e012";
}
.helpme-flaticon-circular50:before {
	content: "\e013";
}
.helpme-flaticon-cloud102:before {
	content: "\e014";
}
.helpme-flaticon-cloudy12:before {
	content: "\e015";
}
.helpme-flaticon-coffee17:before {
	content: "\e016";
}
.helpme-flaticon-cogwheel8:before {
	content: "\e017";
}
.helpme-flaticon-compact8:before {
	content: "\e018";
}
.helpme-flaticon-compass39:before {
	content: "\e019";
}
.helpme-flaticon-connected8:before {
	content: "\e01a";
}
.helpme-flaticon-crop2:before {
	content: "\e01b";
}
.helpme-flaticon-cross39:before {
	content: "\e01c";
}
.helpme-flaticon-curve19:before {
	content: "\e01d";
}
.helpme-flaticon-diamond18:before {
	content: "\e01e";
}
.helpme-flaticon-document58:before {
	content: "\e01f";
}
.helpme-flaticon-dollar79:before {
	content: "\e020";
}
.helpme-flaticon-door7:before {
	content: "\e021";
}
.helpme-flaticon-double23:before,
.helpme-post-type-icon-audio:before {
	content: "\e022";
}
.helpme-flaticon-double24:before {
	content: "\e023";
}
.helpme-flaticon-downloading3:before {
	content: "\e024";
}
.helpme-flaticon-drawing4:before {
	content: "\e025";
}
.helpme-flaticon-empty20:before {
	content: "\e026";
}
.helpme-flaticon-eyes:before {
	content: "\e027";
}
.helpme-flaticon-fast10:before {
	content: "\e028";
}
.helpme-flaticon-fast11:before {
	content: "\e029";
}
.helpme-flaticon-file24:before {
	content: "\e02a";
}
.helpme-flaticon-film24:before {
	content: "\e02b";
}
.helpme-flaticon-fire13:before {
	content: "\e02c";
}
.helpme-flaticon-flag26:before {
	content: "\e02d";
}
.helpme-flaticon-flat10:before {
	content: "\e02e";
}
.helpme-flaticon-fluff1:before {
	content: "\e02f";
}
.helpme-flaticon-four26:before {
	content: "\e030";
}
.helpme-flaticon-full21:before {
	content: "\e031";
}
.helpme-flaticon-grocery10:before {
	content: "\e032";
}
.helpme-flaticon-half11:before {
	content: "\e033";
}
.helpme-flaticon-heart66:before {
	content: "\e034";
}
.helpme-flaticon-home62:before {
	content: "\e035";
}
.helpme-flaticon-huge3:before {
	content: "\e036";
}
.helpme-flaticon-increasing5:before {
	content: "\e037";
}
.helpme-flaticon-kings:before {
	content: "\e038";
}
.helpme-flaticon-letter11:before {
	content: "\e039";
}
.helpme-flaticon-light44:before {
	content: "\e03a";
}
.helpme-flaticon-lines:before {
	content: "\e03b";
}
.helpme-flaticon-low20:before {
	content: "\e03c";
}
.helpme-flaticon-magnification3:before {
	content: "\e03d";
}
.helpme-flaticon-maps5:before {
	content: "\e03e";
}
.helpme-flaticon-mathematical3:before {
	content: "\e03f";
}
.helpme-flaticon-microphone26:before {
	content: "\e040";
}
.helpme-flaticon-molecular:before {
	content: "\e041";
}
.helpme-flaticon-multiple18:before {
	content: "\e042";
}
.helpme-flaticon-music63:before {
	content: "\e043";
}
.helpme-flaticon-mute7:before {
	content: "\e044";
}
.helpme-flaticon-navigation8:before {
	content: "\e045";
}
.helpme-flaticon-newspaper8:before {
	content: "\e046";
}
.helpme-flaticon-no16:before {
	content: "\e047";
}
.helpme-flaticon-open89:before {
	content: "\e048";
}
.helpme-flaticon-open90:before {
	content: "\e049";
}
.helpme-flaticon-padlock18:before {
	content: "\e04a";
}
.helpme-flaticon-paint26:before {
	content: "\e04b";
}
.helpme-flaticon-paper43:before {
	content: "\e04c";
}
.helpme-flaticon-paper44:before {
	content: "\e04d";
}
.helpme-flaticon-personal5:before {
	content: "\e04e";
}
.helpme-flaticon-phone51:before {
	content: "\e04f";
}
.helpme-flaticon-picture10:before,
.helpme-post-type-icon-image:before {
	content: "\e050";
}
.helpme-flaticon-plant10:before {
	content: "\e051";
}
.helpme-flaticon-play35:before,
.helpme-post-type-icon-video:before {
	content: "\e052";
}
.helpme-flaticon-previous6:before {
	content: "\e053";
}
.helpme-flaticon-profile7:before {
	content: "\e054";
}
.helpme-flaticon-public5:before {
	content: "\e055";
}
.helpme-flaticon-rainy5:before {
	content: "\e056";
}
.helpme-flaticon-religion1:before {
	content: "\e057";
}
.helpme-flaticon-rewind22:before {
	content: "\e058";
}
.helpme-flaticon-rotating10:before {
	content: "\e059";
}
.helpme-flaticon-rotating9:before {
	content: "\e05a";
}
.helpme-flaticon-round30:before,
.helpme-post-type-icon-gallery:before {
	content: "\e05b";
}
.helpme-flaticon-round31:before {
	content: "\e05c";
}
.helpme-flaticon-rounded25:before {
	content: "\e05d";
}
.helpme-flaticon-rounded26:before {
	content: "\e05e";
}
.helpme-flaticon-royalty:before {
	content: "\e05f";
}
.helpme-flaticon-scissors14:before {
	content: "\e060";
}
.helpme-flaticon-shopping63:before {
	content: "\e061";
}
.helpme-flaticon-signal21:before {
	content: "\e062";
}
.helpme-flaticon-simple47:before {
	content: "\e063";
}
.helpme-flaticon-small139:before {
	content: "\e064";
}
.helpme-flaticon-snowflake3:before {
	content: "\e065";
}
.helpme-flaticon-speech54:before {
	content: "\e066";
}
.helpme-flaticon-spring11:before {
	content: "\e067";
}
.helpme-flaticon-square51:before {
	content: "\e068";
}
.helpme-flaticon-square52:before {
	content: "\e069";
}
.helpme-flaticon-square53:before {
	content: "\e06a";
}
.helpme-flaticon-square54:before {
	content: "\e06b";
}
.helpme-flaticon-square55:before {
	content: "\e06c";
}
.helpme-flaticon-square56:before {
	content: "\e06d";
}
.helpme-flaticon-square57:before {
	content: "\e06e";
}
.helpme-flaticon-stop20:before {
	content: "\e06f";
}
.helpme-flaticon-sun30:before {
	content: "\e070";
}
.helpme-flaticon-syncing:before {
	content: "\e071";
}
.helpme-flaticon-telephone63:before {
	content: "\e072";
}
.helpme-flaticon-trash27:before {
	content: "\e073";
}
.helpme-flaticon-triangle14:before {
	content: "\e074";
}
.helpme-flaticon-tshirt14:before {
	content: "\e075";
}
.helpme-flaticon-umbrella14:before {
	content: "\e076";
}
.helpme-flaticon-user73:before {
	content: "\e077";
}
.helpme-flaticon-wide6:before {
	content: "\e078";
}
.helpme-flaticon-world29:before {
	content: "\e079";
}
